
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
//@import "app/_variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


@import '../../../clubimp_layout/assets/bootstrap/css/bootstrap.min.css';
@import '../../../clubimp_layout/assets/css/font-awesome.min.css';
@import '../../../clubimp_layout/assets/css/eleganticons.css';
@import '../../../clubimp_layout/assets/css/owl.carousel.css';
@import '../../../clubimp_layout/assets/css/vertical.min.css';
@import '../../../clubimp_layout/assets/css/animate.css';
@import '../../../clubimp_layout/assets/css/template.css';
@import '../../../clubimp_layout/css/main.css';
@import '../../../clubimp_layout/css/css-animations.css';

.help.is-danger {
  color: #FF0048;
}
.hidden-radio {
  display: none !important;
}

.form-group.__check .hidden-radio:checked + .custom-checkbox i {
  display: block;
  color: rgb(135, 184, 50);
}

.form-group.__check .hidden-radio:checked + .custom-checkbox:before {
  /*content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #413548;
  border-radius: 2px;
  color: rgb(135, 184, 50);*/
}